<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<preference for="Magento\Framework\Session\StorageInterface" type="Magento\Framework\Session\Storage" />

   <virtualType name="Magento\Framework\Message\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">message</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Message\Session">
        <arguments>
            <argument name="storage" xsi:type="object">Magento\Framework\Message\Session\Storage</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="csrf_validator_skip" type="Razorpay\Subscription\Plugin\CsrfValidatorSkip" />
    </type>

    <virtualType name="RazorpaySubscriptionLogger" type="Magento\Framework\Logger\Monolog">
	    <arguments>
	        <argument name="handlers" xsi:type="array">
	            <item name="error" xsi:type="object">Razorpay\Subscription\Logger\SubscriptionLogger</item>
	        </argument>
	    </arguments>
	</virtualType>

    <type name="Razorpay\Subscription\Observer\CheckoutCartProductAddAfterObserver">
        <arguments>
            <argument name="logger" xsi:type="object">RazorpaySubscriptionLogger</argument>
        </arguments>
    </type>

    <type name="Razorpay\Subscription\Observer\RestrictRecurringProductToCartObserver">
        <arguments>
            <argument name="logger" xsi:type="object">RazorpaySubscriptionLogger</argument>
        </arguments>
    </type>

    <type name="Razorpay\Subscription\Controller\Subscription\SubscriptionOrder">
        <arguments>
            <argument name="logger" xsi:type="object">RazorpaySubscriptionLogger</argument>
        </arguments>
    </type>

    <type name="Razorpay\Subscription\Helper\Subscription">
        <arguments>
            <argument name="logger" xsi:type="object">RazorpaySubscriptionLogger</argument>
        </arguments>
    </type>

    <type name="Razorpay\Subscription\Observer\PaymentMethodActiveObserver">
        <arguments>
            <argument name="logger" xsi:type="object">RazorpaySubscriptionLogger</argument>
        </arguments>
    </type>

    <type name="Razorpay\Subscription\Controller\Adminhtml\Plan\Save">
        <arguments>
            <argument name="logger" xsi:type="object">RazorpaySubscriptionLogger</argument>
        </arguments>
    </type>

    <!-- Admin subscriptions Grid  -->
     <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="subscribed_listing_data_source" xsi:type="string">SubscriptionCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="SubscriptionCollection" type="Razorpay\Subscription\Ui\DataProvider\Subscriptions\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">razorpay_subscriptions</argument>
            <argument name="resourceModel" xsi:type="string">Razorpay\Subscription\Model\ResourceModel\Subscrib</argument>
        </arguments>
    </virtualType>
    <!-- Admin Plan list and edit -->
    <!-- Create our type PlanGridDataProvider -->
    <virtualType name="PlanGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Razorpay\Subscription\Model\Resource\Plans\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">PlanGridFilterPool</argument> <!-- Define new object for filters -->
        </arguments>
    </virtualType>

    <!-- Create our type PlanGridFilterPool -->
    <virtualType name="PlanGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Type for Plan_listing_data_source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="plan_listing_data_source" xsi:type="string">Razorpay\Subscription\Model\ResourceModel\Grid\Plans\Collection</item>
            </argument>
        </arguments>
    </type>

    <!-- Simulate our class Razorpay\Subscription\Model\ResourceModel\Grid\Plans\Collection -->
    <virtualType name="Razorpay\Subscription\Model\ResourceModel\Grid\Plans\Collection" type="Razorpay\Subscription\Ui\DataProvider\Plan\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">razorpay_plans</argument>
            <argument name="resourceModel" xsi:type="string">Razorpay\Subscription\Model\ResourceModel\Plans</argument>
        </arguments>
    </virtualType>
</config>
