<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="checkout_cart_product_add_after">
        <observer name="razorpay_subscription_checkout_cart_product_add" instance="Razorpay\Subscription\Observer\CheckoutCartProductAddAfterObserver"/>
    </event>

    <event name="controller_action_predispatch_checkout_cart_add">
        <observer name="razorpay_subscription_predispatch_checkout_cart_add" instance="Razorpay\Subscription\Observer\RestrictRecurringProductToCartObserver" />
    </event>

    <event name="payment_method_is_active">
        <observer name="razorpay_payments_method_active" instance="Razorpay\Subscription\Observer\PaymentMethodActiveObserver" />
    </event>

    <event name="sales_order_save_after">
        <observer name="razorpay_payment_gateway_after_place_order" instance="Razorpay\Subscription\Observer\OrderPlaceSaveAfterObserver"/>
    </event>
</config>
