<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Razorpay_Subscription::rzp_subscriptions" title="Razorpay Subscriptions" module="Razorpay_Subscription" sortOrder="20" resource="Razorpay_Subscription::rzp_subscriptions" />
        
        <add id="Razorpay_Subscription::plan" title="Manage Plans" module="Razorpay_Subscription" sortOrder="20" parent="Razorpay_Subscription::rzp_subscriptions" action="subscribed/plan" resource="Razorpay_Subscription::plan" />
        <add id="Razorpay_Subscription::subscriptions" title="Manage Subscriptions" module="Razorpay_Subscription" sortOrder="10" parent="Razorpay_Subscription::rzp_subscriptions" action="subscribed/index/index" resource="Razorpay_Subscription::subscriptions" />
    </menu>
</config>
